.margin-botton-20 {
  margin-bottom: 20px;
}

a {
  color: #000;
}
/* link que foi visitado */
a:visited {
   color: #555;
}
/* quando o ponteiro do mouse passa no link */
a:hover {
   color: #999;
}
/* quando o link for selecionado */
a:active {
   color: #333;
}
